* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.text-container>h1 {
    font: normal normal 900 80px/118px Heebo;
}

.text-container>p {
    font: normal normal medium 20px/30px Heebo;
}

//.header-container {
//   background-image: url("./images/bgc.jpg");
//}

.header-container {
    background-image: linear-gradient(to bottom, rgba(245, 20, 178, 0.171), rgb(255, 255, 255, 0.5)), url('./images/bgc2.jpg');
    height: 28.8125em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}